<!doctype html>
<html lang="en">
  <head>
    <title>Beers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="X-UA-Compatible" content="IE=edge">
    <base href="/">

    <link rel="manifest" href="/manifest.json">

    <link rel="apple-touch-icon" href="app/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-startup-image" href="app/img/beers_large@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="stylesheet" href="app/libs/bootstrap/dist/css/bootstrap.min.css" />

    <script src="app/libs/angular/angular.min.js"></script>
    <script src="app/libs/angular-route/angular-route.min.js"></script>
    <script src="app/libs/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-0.13.4.min.js"></script>
    <script src="app/libs/moment/min/moment.min.js"></script>
    <script src="app/libs/angular-moment/angular-moment.min.js"></script>
    <script src="app/bundle.min.js"></script>
  </head>
  <body ng-app="beerApp">
    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Beerlogger</a>
        </div>
      </div>
    </nav>
    <main class="container" role="main">
      <div ng-view></div>
    </main>
  </body>
</html>
